body
{
    text-align: center;
    background-color: skyblue;
}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button
{
    text-align: center;
}
p
{
    border: black;
}
.uvi
{
    display: inline;
    background-color: white;
}
.low
{
   color: green;
}
.moderate
{
    color: yellow;
}
.high
{
    color: orange;
}
.very_high
{
    color: red;
}
.extreme
{
    color: violet;
}