body
{
    text-align: center;
    background-color: skyblue;
}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button
{
    text-align: center;
}
/* .forecast
{
    column-count: 5;
} */
.detail
{
    border: 1px solid black;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 10px;
}
.uvi
{
    display: inline;
    border: 1px solid black;
}
.low
{
   background-color: green;
}
.moderate
{
    background-color: yellow;
}
.high
{
    background-color: orange;
}
.very_high
{
    background-color: red;
}
.extreme
{
    background-color: violet;
}