body
{
    text-align: center;
    background-color: skyblue;
}
header
{
    border: 1px solid black;
    padding-bottom: 10px;
    background-color: yellow;
}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button
{
    text-align: center;
}
.forecast
{
    /* padding-top: 10px; */
    column-count: 5;
    column-width: auto;
}
.detail
{
    border: 1px solid rgb(63, 59, 59);
    /* padding-bottom: 10px; */
}
.uvi
{
    display: inline;
    border: 1px solid black;
}
.low
{
   background-color: green;
}
.moderate
{
    background-color: yellow;
}
.high
{
    background-color: orange;
}
.very_high
{
    background-color: red;
}
.extreme
{
    background-color: violet;
}